@font-face {
  font-family: 'KozGo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/KozGoPr6N-Regular.otf');
}
@font-face {
  font-family: 'hira';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/hiraminpro.otf');
}
@font-face {
  font-family: 'Ryumin';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/RyuminPro.otf');
}
@font-face {
  font-family: 'Gara';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/AdobeGaramondPro.ttf');
}
@font-face {
  font-family: 'Osaka';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OSAKA.TTF');
}