//baseWidth
$baseWidth1:1000px; //dummy value
$baseWidth2:1000px; //dummy value

// Breakpoint
$breakpoint1:767px;
$breakpoint2:480px;

// Common Colors
//$color1:#;
//$color2:#;
//$color3:#;

// link color
//$link:#000;
//$hover:#000;
//$active:#000;
//$visited:#000;
// FONT
$font-KozGo : "KozGo";
$font-hira : "hira";
$font-ryumin : 'Ryumin';
$font-Gara : 'Gara';
$font-osaka : 'Osaka';