/*------------------------------------------------------------
layout
------------------------------------------------------------*/
.l-container{
	margin: 0 auto !important;
	width: 1020px !important;
	text-align: left;
}
/*
------------------------------------------------------------*/


