/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/* .c-btn1
------------------------------------------------------------*/
.c-btn1{
	display:inline-block;
}
/* .c-btn2
------------------------------------------------------------*/
.c-btn2{
	position: fixed;
	bottom:20px;
	right:30px;
	@include breakpoint1{
		position: fixed;
		bottom:10px;
		right:10px;
	}
}